$primaryRed: #cc3928;
$primaryRedMiddle: #c23224;
$primaryRedDark: #6a221c;
$primaryRedLight: #c96a5f;
$black: #111927;
$gradient: linear-gradient(90deg, #965af8, #cc3928);
$gradientBarBackground: #e5e7eb;
$greyBackground: #fafafb;
$questionContainerGrey: #f9fafb;
$iconsColor: #6c737f;
$iconsBackground: #f3f4f6;
$iconsBorder: #e6e7e9;
